{% extends 'predictor/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Audit Logs</h1>
        <table class="table table-bordered table-striped mt-4">
            <thead class="table-dark">
                <tr>
                    <th>ID Patient</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Genre</th>
                    <th>Age</th>
                    <th>Prediction</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.id_patient }}</td>
                    <td>{{ log.nom }}</td>
                    <td>{{ log.prenom }}</td>
                    <td>{{ log.genre }}</td>
                    <td>{{ log.age }}</td>
                    <td>{{ log.prediction }}</td>
                    <td>{{ log.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
